@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.cardheart {
  margin-top: 100px;
  width: 295px;
  height: 442px;
  background-color: azure;
  border-radius: 20px;
}
.item1 {
  display: flex;
  justify-content: start;
  font-size: 100px;
  margin-left: 20px;
  margin-top: -20px;
}

.number {
  font-size: 110px;
  display: flex;
  justify-content: center;
}
.item2 {
  display: flex;
  justify-content: end;
  font-size: 100px;
  margin-left: 200px;
  margin-top: -30px;
  transform: rotate(180deg);
}

.bontonCenter {
  display: flex;
  justify-content: center;
}

h4 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}
